<div class="conteiner m-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article , data: {turbo:false} ,class:"shadow p-3 mb-5 bg-info rounded", local: true) do |f|  %>

        <div class="form_group row">
          <%= f.label :title, class: "col-2 col-form-label text-light"  %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder:"Titolo" %> 
          </div>
        </div>
<br>
        <div class="form_group row">
          <%= f.label :description , class: "col-2 col-form-label text-light"  %>
          <div class="col-10">
            <%= f.text_area :description,class: "form-control shadow rounded", rows:10 %>
          </div>
        </div>
<br>
        <div class="form_group row">
          <%= f.label :body , class: "col-2 col-form-label"  %>
          <div class="col-10">
            <%= f.text_area :body,class: "form-control shadow rounded", rows:2 %>
          </div>
        </div>
<br>
        <div class="form_group row">
          <%= f.label :subtitle , class: "col-2 col-form-label"  %>
          <div class="col-10">
            <%= f.text_area :subtitle,class: "form-control shadow rounded" %>
          </div>
        </div>
<br>
        <div class="form_group row">
          <%= f.label :category , class: "col-2 col-form-label"  %>
          <div class="col-10">
            <%= f.collection_select(:category_ids, Category.all,:id, :name, 
                                    {prompt: "Make you selection from the list can be empty"}, 
                                    {multiple: true, size: 3, class: "custom-select shadow rounded"})  %>
          </div>
        </div>
<br>

        <div class="form_group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg col-2" %>
        </div>

      <% end %>
      <div class="mb-3">
            <%= link_to 'Return list', articles_path %>
      </div>
    </div>
  </div>
</div>